<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @message_in_a_bottle.text %>
</p>

<%= link_to 'Edit', edit_message_in_a_bottle_path(@message_in_a_bottle) %> |
<%= link_to 'Back', message_in_a_bottles_path %>
